/* .v-toolbar__content {
    padding-left: 0px;
    padding-right: 0px;
} */

.splitpanes__splitter {
    background-color: #ccc;
    position: relative;
}
.splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0;
    z-index: 1;
}

.splitpanes--vertical > .splitpanes__splitter:before {
    left: -10px;
    right: -10px;
    height: 100%;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
    top: -10px;
    bottom: -10px;
    width: 100%;
}

.v-toolbar__content::before {
    border-bottom: 1px solid #ccc;

}

.v-treeview>.v-treeview-node--leaf {
    margin-left: 0px;
    padding-left: 0px;
}

.v-treeview>.v-treeview-node--leaf>.v-treeview-node__root {
    padding-left: 16px;
}

.glComponent {
    width: 100%;
    height: 100%;
    overflow: auto;
}