.v-toolbar__content {
    padding-left: 0px;
    padding-right: 0px;
}

.v-tabs-items {
    height: 100%;
}

.splitpanes__splitter {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

/* .splitpanes__splitter {
    background-color: #ccc;
    position: relative;
}
.splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0;
    z-index: 1;
}

.splitpanes--vertical > .splitpanes__splitter:before {
    left: -10px;
    right: -10px;
    height: 100%;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
    top: -10px;
    bottom: -10px;
    width: 100%;
} */