settings:
  configuration: specviz2d
  visible:
    menu_bar: false
    toolbar: true
    tray: true
    tab_headers: false
  dense_toolbar: false
  context:
    notebook:
      max_height: 600px
toolbar:
  - g-data-tools
  - g-subset-tools
  - g-coords-info
tray:
  - g-metadata-viewer
  - g-plot-options
  - g-subset-plugin
  - g-markers
  - spectral-extraction
  - g-gaussian-smooth
  - g-model-fitting
  - g-line-list
  - specviz-line-analysis
  - g-export-plot
viewer_area:
  - container: col
    children:
      - container: row
        viewers:
          - name: 2D Spectrum viewer
            plot: mosviz-profile-2d-viewer
            reference: spectrum-2d-viewer
      - container: row
        viewers:
          - name: Spectrum
            plot: mosviz-profile-viewer
            reference: spectrum-viewer
