settings:
  configuration: cubeviz
  data:
    auto_populate: true
    parser: cubeviz-data-parser
  visible:
    menu_bar: false
    toolbar: true
    tray: true
    tab_headers: true
  dense_toolbar: false
  server_is_remote: false
  context:
    notebook:
      max_height: 750px
toolbar:
  - g-data-tools
  - g-subset-tools
  - g-coords-info
tray:
  - g-metadata-viewer
  - g-plot-options
  - g-data-quality
  - g-subset-plugin
  - g-markers
  - cubeviz-slice
  - g-unit-conversion
  - cubeviz-spectral-extraction
  - g-gaussian-smooth
  - g-collapse
  - g-model-fitting
  - g-line-list
  - specviz-line-analysis
  - cubeviz-moment-maps
  - imviz-aper-phot-simple
  - cubeviz-sonify-data
  - export
  - about
viewer_area:
  - container: col
    children:
      - container: row
        viewers:
          - name: Flux
            plot: cubeviz-image-viewer
            reference: flux-viewer
          - name: Uncertainty
            plot: cubeviz-image-viewer
            reference: uncert-viewer
      - container: row
        viewers:
          - name: Spectrum
            plot: cubeviz-profile-viewer
            reference: spectrum-viewer
